################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdventOfCode2018/v15
/AdventOfCode2018/obj
/AdventOfCode2018/bin/Debug/netcoreapp2.2
/.vs/AdventOfCode/v16
**/bin/**
**/obj/**
